.footer {
  background-color: #131111;
  width: "100%";
  margin-top: 10%;
  opacity: 0;
  transform: translateY(20px); /* Initial position */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transition for both opacity and transform */
}

.footer.fade-in {
  opacity: 1;
  transform: translateY(0); /* Final position */
}


.white_text_small_footer {
  color: white;
  font-size: 15px;
  font-family: Urbanist;
}

.white_text_gray_footer {
  color: gray;
  font-size: 15px;
  font-family: Urbanist;
}


